<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrapper">
      <header class="tech-header header">
    		<div class="container-fluid">
    			<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    				<h1 style="color:white;margin:15px;">my<b>Blog</b></h1>
    			</nav>
    		</div>
    	</header>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
      <div class="dmtop">Scroll to Top</div>
    </div>
  </body>
</html>
